fastapi
fastapi_sqlalchemy
uvicorn
psycopg2
python-dotenv
sqlalchemy
geoalchemy2
pyjwt
uuid
pydantic
pydantic_settings
passlib
datetime
pytz
tzdata
bcrypt
python-multipart
python-jose
redis
psycopg[binary]